<h1>The very beginning of a Book App</h1>
<%= link_to 'Library of Books', controller: 'books' %>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Add a new book</a></li>
    <li><a href="#">See the library</a></li>
  </ul>
</div>
